.postWrapper {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 700px;
    padding: .8rem 1.2rem;
    border-radius: 1rem;
    background-color: var(--primary);
    box-shadow: 0 0 15px rgba(126, 126, 209, .4);

    .header {
        display: flex;
        gap: 1rem;
        align-items: center;

        span {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background-color: gray;
            animation: skeletonAnimation 2.5s infinite;
        }

        .headerRight {
            display: flex;
            flex-direction: column;
            gap: .25rem;
            h1 {
                width: 4rem;
                height: 1.75rem;
                border-radius: .25rem;
                background-color: gray;
                animation: skeletonAnimation 2.5s infinite;
            }

            h2 {
                width: 4rem;
                height: 1rem;
                border-radius: .25rem;
                background-color: gray;
                animation: skeletonAnimation 2.5s infinite;
            }
        }
    }

    .plot {
        width: 100%;
        height: 3rem;
        background: gray;
        border-radius: .5rem;
        animation: skeletonAnimation 2.5s infinite;
    }

    .bottom {
        display: flex;
        gap: 1rem;

        p {
            width: 2rem;
            height: 2rem;
            border-radius: .25rem;
            background-color: gray;
            animation: skeletonAnimation 2.5s infinite;
        }
    }
}

@keyframes skeletonAnimation {
    0% {
        filter: brightness(130%);
    }
    50% {
        filter: brightness(110%);
    }
    100% {
        filter: brightness(130%);
    }
}