.chatHomePageWrapeer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;

    .createGroupWrapper {
        @apply shadow-sm;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0.5rem;
        padding: 0.5rem;
        background-color: white;
        font-size: 1.25rem;
    }

    .chatsContainer {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        .chat {
            @apply shadow-md;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--buttonBlue);
            padding: 1rem;
            border-radius: .5rem;
            cursor: pointer;
        }
    }
}