.registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    position: relative;

    input {
        background-color: rgb(126, 126, 209);
        color: white;
        outline: none;
        padding: 0 .5rem;
        height: 3rem;
        width: 20rem;
        font-size: 1.5rem;
        border-radius: .6rem;
        
        &::placeholder {
            color: rgba(255, 255, 255, .6);
        }
    }

    .buttons {
        display: flex;
        gap: 2rem;
    }
}

.validationError {
    position: fixed;
    right: 0;
    top: 10rem;
    z-index: 15;
    font-size: 1.25rem;
    display: flex;
    padding: 1rem 1.5rem;
    background-color: var(--error);
    border-left: 5px solid var(--errorDark);
    transition: .3s;
}

.validationErrorClosed {
    transform: translateX(100%);
}

.validationErrorOpened {
    transform: translateX(0%);
}