.commentWrapper {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    font-size: 1.25rem;
    background-color: rgb(126, 126, 209);
    width: 700px;
    border-radius: 1rem;
    padding: .8rem 1.2rem;
    color: white;
    box-shadow: 0 0 15px rgba(126, 126, 209, .4);
    animation: ease-in .32s openComment;

}


@keyframes openComment {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}