.navBar {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    background: white;
    box-shadow: 0 5px 5px rgba(30, 30, 30, .06);

    .navContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1100px;
    }
}
