.postWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    background-color: white;
    width: 700px;
    border-radius: 1rem;
    padding: .8rem 1.2rem;
    box-shadow: 0 8px 8px rgba(35, 35, 58, 0.1);
    animation: ease-in .2s openPost;

    .postHeader {
        display: flex;
        font-size: 1.25rem;
        align-items: center;
        gap: 1rem;

        .imageWrapper {
            padding: .25rem;
            background-color: var(--buttonBlue);
            border-radius: 50%;
            display: flex;

            img {
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                object-fit: cover; 
            }
        }

        span {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background-color: purple;
            display: inline-block;
        }

        .postTitle {
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 1.5rem;
                padding: 0;
                margin: 0;
            }

            a {
                font-size: 1rem;
                font-style: italic;
                opacity: .65;
            }
        }
    }

    .postPlot {
        font-size: 1.25rem;
    }

    .postBottom {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        .buttonSection {
            display: flex;
            align-items: baseline;
            font-size: 1.5rem;
            gap: .5rem;
    
            img {
                cursor: pointer;
            }
        }

    }
}


@keyframes openPost {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}