//импортируем компоненты библиотеки Tailwind
/* @import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

//задаем в корневом псевдо-элементе переменные для цветов
:root {
	--white: rgb(249, 250, 251);
	--primary: rgb(126, 126, 209);
	--secondary: rgb(216, 180, 254);
	--primaryDark: rgb(175, 175, 214);
	--buttonBlue: rgb(147,197, 253);
	--buttonHovered: rgb(140, 195, 255);
	--buttonGray: rgb(173, 187, 206);
	--error: rgb(253, 135, 135);
	--errorDark: rgb(206, 67, 67);
}

//задаем обнуления стилей для базовой разметки
html {
    min-height: 100%;
	
}

body {
    min-height: 100%;
	background-color: rgb(233, 234, 241);
}

*, *::before, *::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


a {
	text-decoration: none;
	color: inherit;
}

button, input {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border: none;
}