
/* @import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Ubuntu;
	src: url('./assets/fonts/Ubuntu-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Ubuntu;
	src: url('./assets/fonts/Ubuntu-Light.ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: Ubuntu;
	src: url('./assets/fonts/Ubuntu-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Ubuntu;
	src: url('./assets/fonts/Ubuntu-Medium.ttf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Ubuntu;
	src: url('./assets/fonts/Ubuntu-MediumItalic.ttf');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: Ubuntu;
	src: url('./assets/fonts/Ubuntu-LightItalic.ttf');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: Ubuntu;
	src: url('./assets/fonts/Ubuntu-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: Ubuntu;
	src: url('./assets/fonts/Ubuntu-Italic.ttf');
	font-weight: normal;
	font-style: italic;
}

:root {
	--primary: rgb(126, 126, 209);
	--secondary: rgb(216, 180, 254);
	--primaryDark: rgb(175, 175, 214);
	--buttonBlue: rgb(126, 182, 255);
	--buttonHovered: rgb(231, 241, 254);
	--buttonGray: rgb(173, 187, 206);
	--error: rgb(253, 135, 135);
	--errorDark: rgb(206, 67, 67);
}

html {
    min-height: 100%;
	font-family: 'Ubuntu' ;
}

body {
    min-height: 100%;
	background-color: rgb(233, 234, 241);
}

*, *::before, *::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu' ;
}


a {
	text-decoration: none;
	color: inherit;
}

button, input {
	border: none;
}